.header {
    background: #3A82EF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
}

.nav-logo {
    display:flex;
    height: 50px;
    width: 50px;
    padding: 10%;
}



.nav-items {
    
    display:flex;
    margin-left: 15%;
    align-items: center;
}

.nav-link {

    background: #2F77E3;
    color:white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    color:black;
}

label{
    background: #2F77E3;
    color: black;
    text-align: center;
    margin-top: 7px;
    padding-top: 14px;
    padding-right: 25px;
    height: 51px;
}


