.header {
    background: #3A82EF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
}

.nav-logo {
    display:flex;
    height: 100px;
    width: 100px;
}



.nav-items {
    background: #3A82EF;
    display:flex;
    margin-right: 5%;
    align-items: center;
}

.nav-link {
    color:white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    font-size: larger;
    font-weight: bolder;
}

label{
    background: #2F77E3;
    color: black;
    text-align: center;
    margin-top: 7px;
    padding-top: 14px;
    padding-right: 25px;
    height: 51px;
}
input{
   
    padding-top: 14px;
    padding-right: 85px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 45px;
    width: 450px;
    border-radius: 5px;
    margin-right: 15px;
    border: none;
}

