
  
         @font-face {
            font-family: atma;
            src: url(../../assets/Atma-Medium.ttf);
          }
          
         .banner{
             enable-background:new;
        }
         .st1{fill:#3A82EF;}
         .st2{fill:#72DDEE;}
         .hashtag{
            font-family: atma; 
            font-size:33px;
            fill:#FFFFFF;
         }
