.reguserbtn
{
    margin-top: 5%;
    margin-left: 35%;
    width: 300px;
}
.loginbtn
{
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 2%;
    width: 300px;
}
.lab
{
    background-color: white;
}
.center1
{
    width: 250px;
    margin-left: 35%;
    margin-top: 5%;
}