.register
{
    margin-top: 5%;
    margin-left: 35%;
    width: 300px;
}
.login
{
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 2%;
    width: 300px;
}
.label
{
    background-color: white;
}
.center
{
    width: 250px;
    margin-left: 35%;
    margin-top: 5%;
}